html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    background-color:white;
    color: black;
}

.container {
    padding: 20px;
}

.light {
    background-color: #f1f1f1;
    color: #333;
}



.WindowLayout {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}


.btn {
    background: #7aba20;
    border: 0;
    box-shadow: 0 3px #5d8e19;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    outline: none;
    padding: 6px 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 300px;
}

h1 {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.input-login {
    width: 300px;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom:10px;
}


div.Updemia {
  position:fixed;
  top:40px;
  left:0;
  margin-bottom: 20px;
}

div.Updemia img {
  float: left !important;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  line-height: 36px;
}


div.Gravatar {
  position:fixed;
  top:40px;
  right:0;
  margin-bottom: 20px;
}

div.Gravatar img {
  border-radius: 50%;
  float: left !important;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  line-height: 36px;
}

// * {
//   border:1px solid red;
// }


.listMedias {
  margin-top:0px;
  min-width: 300px;
  max-width: 300px;
  width: 320px;
  min-height:500px;
  height:100%;
  overflow-y: auto;
  overflow-x: none;
  position:fixed;
  left:0px;
  top:95px;
  border-bottom:1px solid green;
}

.media {
    width:100%;
    text-align: center;
    height:120px;
    // display: inline-block;
}
.media a {
    display:block;
    margin:auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    max-height: 100px;
    max-width: 250px;
    min-height: 100px;
    min-width: 250px;
    background-size: cover;
    background-position: center;
}

input[type=text]:focus {
  border-left-color: deepskyblue; }
